@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Roboto:wght@700&display=swap');

body{
    background-image: url(./backgrounds/cidade.jpg);
    background-position: top;
}
h1{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    top: 25px;
}

header{
    height: 13%;
    width: 100%;
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #FFFFFF;
}